.hero-background
{
    display: flex;

    width: 100vw;
    height: 100vh;

    background-image: url('./src/assets/images/Imagen-Fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    margin: 0;
    padding: 0;

}

.hero-content
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 20px;   
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px;
}

.hero-image
{
    grid-column: 6 / span 6;
    justify-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.hero-msg
{
    grid-column: 1 / span 5;
    display:grid;
    align-items: center;
}


.hero-title
{
    
    width: auto;
    height: auto;
    max-width: 100%;
    font-weight: bold;
    font-size:42px;
    text-align: center;
    color: #D32F2F;
    line-height: 1.8em;
    margin-top : 0px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}

.hero-subtitle
{  
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #FBC02D;
    margin : 0;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

.hero-btn
{       
    justify-self: center;
    
    margin-top: 20px;
}



h1, h2
{
    margin: 0;
    padding: 0;
}