.Cart
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    max-width: 500px;
    max-height: 500px;
    min-height: 250px;
    min-width: 250px;

    font-size: 25px;

    background-color: salmon;
}

.cart-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.btn 
{
    font-size: 25px;
}