.title
{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.menu-section
{

}

.burger-menu
{
    display: grid;

    grid-template-columns: repeat(4, 2fr);

    gap: 30px;
/* 
    TODO: FALTA ALINEAR Y ACOMODAR EL RESTO DE MENUS
     */
}

.garnish-menu
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.dips-menu
{
    display: grid;

    grid-template-columns: repeat(4, 2fr);

    gap: 20px;
}