.title
{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.menu-section
{
    overflow: auto;
}

.burger-menu
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.garnish-menu
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.dips-menu
{   
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}