*
{

}

.checkout-form
{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    color: black;
    background-color: gold;
}

h2
{
    align-self: center;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label
{
    width: 100%;
    padding: 0px;
}

.input-box
{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;

}

.input-bar
{
    width: 80%;
}

p
{
    min-width: 150px;
}
