/*

{
    outline: 1px solid red;
} */


body
{
    background-color: #212121;
    margin: 0;
    padding: 0;
}


.container
{
    width: calc(100% - 240px);
    max-width: 1440px;
    margin: 0 auto;
}

.title
{
}

.navbar
{
    position: sticky;
    top: 0;
    z-index:2000;
}