.navbar
{

    z-index: 1000;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    color: white;
    min-height: 80px;
    height: auto;
}


.navbar-container
{
    align-items: center;
    max-width: 1440px;

    margin: 0 auto;
    padding: 0px;
}

.logo
{
    display:flex;
    justify-content: flex-start;
}


.nav-links {
    grid-column: span 9 ;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.nav-links li
{
    list-style: none;
}

.nav-links a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
}

.nav-links a:hover
{
    color:rgb(255, 251, 0);
}